/* Sidenav */

.side-nav{
  grid-area: sidebar;
  background: #fafbfc;
 }

.side-nav .nav-list{
  display: grid;
  gap: 20px;
  margin: 30px;
}

.side-nav .nav-list .nav-item a{
  min-width: 60px;
  max-width: 100px;
  background-color: white;
  box-shadow: 5px 5px 15px 0px rgb(44 44 44 / 15%);
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
}

.side-nav .nav-list .nav-item a:hover{
  background-color:#b07dfb;
}


@media (max-width:800px){
 .side-nav{
    overflow-y: auto;
  }

  .side-nav .nav-list{
    display: flex;
  }

  .side-nav .nav-list .nav-item{
    flex: 1 0 100px;
  }

}